body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: papayawhip;
  margin-top: 50px;
}
.meni {
  position: fixed;
  top: 0%;
  padding: 5px;
  height: 40px;
  width: 100vw;
  background-color: mediumblue;
}
.meniBtn {
  border: none;
  width: 150px;
  height: 40px;
  font-size: x-large;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: mediumblue;
  color: silver;
}
.meniBtn:hover {
  border: 1px solid gray;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.meniBtn:active {
  border: none;
  color: silver;
  box-shadow: none;
}
div.fixed {
  display: block;
  position: fixed;
  width: 600px;
  left: 100px;
  top: 52px;
  border: 3px solid #5f5604;
  border-radius: 5px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: palegoldenrod;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.operacija {
  margin: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  height: 45px;
  border: 1px solid;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  left: 265px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

.slika {
  position: absolute;
  top: 15px;
  right: 80px;
  cursor: pointer;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slikaP {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  cursor: pointer;
}
.slika:active,
.slikaP:active {
  box-shadow: none;
}

input {
  text-transform: uppercase;
  height: 41px;
  margin-right: 5px;
}
.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.btn:active {
  box-shadow: none;
}

pre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: papayawhip;
  margin-top: 250px;
  height: 630px;
}
figure {
  margin: 0;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 5px;
}
.tabela {
  display: grid;
  grid-template-columns: 50px 350px 60px 60px 60px;
}
