.App {
  text-align: center;
}

.App-header {
  background: rgb(28, 157, 231);
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.igra {
  align-items: center;
  display: block;
  width: 200px;
  height: 200px;
  padding-top: 300px;
  margin: auto;
  text-align: center;
}
